.search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-result-item {
    max-width: 600px;
    max-height: 500px;
    padding: 10px;
}

.no-results {
    color: white;
    font-size: 25px;
    font-family: "Sofia Sans", sans-serif;
}